<div class="aside">
    <div><h2><span class="dec">15</span>    3,000,000</h2></div>
    <div><h2><span class="dec">14</span>    1,500,000</h2></div>
    <div><h2><span class="dec">13</span>      800,000</h2></div>
    <div><h2><span class="dec">12</span>      400,000</h2></div>
    <div><h2><span class="dec">11</span>      200,000</h2></div>
    <div><h2><span class="dec">10</span>      100,000</h2></div>
    <div><h2><span class="one">9</span>      50,000</h2></div>
    <div><h2><span class="one">8</span>      25,000</h2></div>
    <div><h2><span class="one">7</span>      15,000</h2></div>
    <div><h2><span class="one">6</span>      10,000</h2></div>
    <div><h2><span class="one">5</span>      5,000</h2></div>
    <div><h2><span class="one">4</span>       3,000</h2></div>
    <div><h2><span class="one">3</span>       2,000</h2></div>
    <div><h2><span class="one">2</span>      1,000</h2></div>
    <div><h2><span class="one">1</span>         500</h2></div>
</div>
